<form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
  <select formControlName="type">
    <option value="OPEN">Abierta</option>
    <option value="CLOSED">Cerrada</option>
    <option value="MULTIPLECHOICE">Varias opciones</option>
  </select>

  <input formControlName="text" placeholder="Escribe la pregunta" />

  <div
    *ngIf="
      questionForm.get('type')?.value === 'CLOSED' ||
      questionForm.get('type')?.value === 'MULTIPLECHOICE'
    "
  >
    <div
      formArrayName="options"
      *ngFor="let option of options.controls; let i = index"
    >
      <input [formControlName]="i" placeholder="Opción" />
      <button (click)="removeOption(i)">Eliminar</button>
    </div>
    <button (click)="addOption()">Agregar opción</button>
  </div>

  <mat-slide-toggle formControlName="mandatory">
    Obligatorio
  </mat-slide-toggle>

  <button type="submit">Guardar</button>
</form>
