.main-container{
    display: flex;
    margin: 20px auto;
    max-width: 1360px;
    padding: 20px;
   }
   div{
    padding-left: 170px;
   }

   img{
    top: 943px;
    left: 48px;
    width: 102px;
    height: 33px;
}