<app-header></app-header>

<div class="main-container">
  <div class="header">
    <h2>Administrar banco de preguntas</h2>
    <p>
      Define el banco de preguntas, con el cual podrás agilizar los procesos a
      la hora de desarrollar los formularios.
    </p>
  </div>
  <div class="content-action">
    <button
      [routerLink]="['/questions/create']"
      mat-raised-button
      color="primary"
      class="mat-elevation-z0 main-button add-button no-shadow"
    >
      Añadir nueva pregunta
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="arrow_forward"
        iconPositionEnd
      ></mat-icon>
    </button>
  </div>
  <div class="question-list">
    <mat-table class="question-table" [dataSource]="dataSource">
      <!-- Columna Tipo -->
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
        <mat-cell *matCellDef="let question">
          {{ questionLabel[question.type] }}
        </mat-cell>
      </ng-container>

      <!-- Columna Pregunta -->
      <ng-container matColumnDef="question">
        <mat-header-cell *matHeaderCellDef> Pregunta </mat-header-cell>
        <mat-cell *matCellDef="let question"> {{ question.text }} </mat-cell>
      </ng-container>

      <!-- Columna Acciones -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let question">
          <button
            mat-button
            color="accent"
            class="question-list__action"
            [routerLink]="['/questions/edit', question.id]"
          >
            Editar
            <mat-icon aria-hidden="false" fontIcon="edit_document"></mat-icon>
          </button>
          <button
            mat-button
            color="warn"
            class="question-list__action"
            (click)="openDeleteDialog(question.id)"
          >
            Eliminar
            <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator
      [pageSizeOptions]="[5, 8, 10, 20]"
      hidePageSize="true"
      showFirstLastButtons="false"
    ></mat-paginator>
  </div>
</div>

<app-footer></app-footer>